#my-friend-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  text-align: right;
  padding: 3px;
}
.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20px;
  width: auto;
  border: 1px solid #e0e0e0; /*#e0e0e0*/
  background-color: #f9f9f9; /*#f9f9f9*/
  border-radius: 5px;
  padding: 15px;
  margin: 8px 40px 8px 40px;
  overflow: hidden;
}

.friend-item > * {
  display: flex;
  margin-left: 10px;

  align-self: center;
}

.rounded-span {
  display: inline-block; /* 또는 block */

  align-content: center;
  align-items: center;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ddd;
  padding: 10px;
  margin: 5px 10px;
  height: 15px;
  font-size: 12px;
}

.rounded-unfollow-span {
  display: inline-block; /* 또는 block */
  border: 1px solid #ccc;
  align-content: center;
  align-items: center;
  align-self: center;
  border-radius: 20px;
  background-color: #ddd;
  padding: 10px;
  margin: 5px 10px;
  height: 15px;
  font-size: 12px;
}
* > .left-align {
  align-items: center;
}
* > .right-align {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.color-gray {
  color: #8e8e8e;
}
.color-red {
  color: #912d2d;
}

.font-bold {
  font-weight: bold;
}
#already-send-friend-request-tag {
  font-size: 9px;
}
.title {
  display: flex;
  align-content: center;
  justify-content: center;
}
.title-font {
  font-weight: bold;
  margin: 10px;
  font-size: xx-large;
}
.hidden {
  display: none !important;
}

*[name="unfollow-button"]:hover {
  background-color: #912d2d;
  color: white;
  border: 1px solid #ccc;
  align-items: center;
  width: auto;
}
.button-default {
  background-color: #9f2120;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-default:hover {
  opacity: 90%;
}
.button-disabled {
  background-color: #eee;
  color: #aaa;
  border: 1px solid #ccc;
  align-items: center;
  padding: 8px 8px;
  border-radius: 10px;
}

.check-icon {
  color: green;
  margin-left: 5px;
  animation: fadeOut 1.5s ease-out forwards;
}
.x-icon {
  color: red;
  margin-left: 5px;
  animation: fadeOut 1.5s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* 제거 애니메이션 클래스 */
.fade-slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.fade-slide.removing {
  transform: translateX(-100%); /* 왼쪽으로 이동 */
  opacity: 0; /* 투명하게 */
}

#ilchon-flag {
  font-size: 7px;
  align-self: center;
}
.gold {
  color: grey;
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffcc00,
    0 0 20px #ffaa00, 0 0 30px #ff9900;
  font-family: "Spoqa Han Sans", sans-serif;
}
.gold-button {
  animation: gold-glow-pulse 3s ease-in-out infinite;
  /*box-shadow: 0 0 1px #ffd700, 0 0 2px #ffd700, 0 0 3px #ffcc00;*/
  /*, 0 0 4px #ffaa00,
    0 0 5px #ff9900*/
}
@keyframes gold-glow-pulse {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 1px #ffd700, 0 0 2px #ffd700, 0 0 3px #ffcc00,
      0 0 20px #ffaa00;
  }
}

.border-red {
  border: 1.5px solid #912d2d;
  border-radius: 4px;
}
.border-red:focus {
  border: 1.5px solid #d32f2f;
  border-radius: 4px;
}

.overflow-content-y {
  overflow-y: auto;
  overflow-x: hidden;
}
/* 제거 애니메이션 클래스 */
.fade-slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.fade-slide.removing {
  transform: translateX(-100%); /* 왼쪽으로 이동 */
  opacity: 0; /* 투명하게 */
}

.fade-slide.deleting {
  transform: translateX(100%); /* 오른쪽으로 이동 */
  opacity: 0; /* 투명하게 */
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.friend-profile,
.friend-name {
  cursor: pointer;
}
